@import url("cores.css");
@import url("fonts.css");

footer{
    background-color: var(--cor_Fundo);
    border-top: 5px ridge var(--cor_Titulo);
    padding: 10px;
}

/* #textIcon a, #textIcon{
    font-family: 'Kalam', cursive;
    color: var(--cor_Titulo);
} */

/* #textIcon i{
    padding-right: 5px;
}

#textIcon:hover a, #textIcon:hover{
    color: var(--cor_Texto);
} */