@import url("cores.css");
@import url("fonts.css");

#html5, 
#css3,
#javascript,
#jquery,
#bootstrap,
#react,
#vue,
#postgresql,
#php,
#joomla,
#wordpress,
#git,
#github{
    margin: 10px;
    padding: 10px;
    background-color: var(--cor_Texto) !important;
    color: var(--cor_Fundo);
    border-radius: 12px;
    border: 5px ridge var(--cor_Fundo);
}

#html5:hover,
#css3:hover,
#javascript:hover,
#jquery:hover,
#bootstrap:hover,
#react:hover,
#vue:hover,
#postgresql:hover,
#php:hover,
#joomla:hover,
#wordpress:hover,
#git:hover,
#github:hover
{
    background-color: var(--cor_Titulo) !important;
    color: var(--cor_Fundo) !important;
    border-radius: 12px;
    border: 5px ridge var(--cor_Fundo);
}

#iconHtml5{
    width: 32px;
    height: 32px;
    background-image: url("../icones/html5-roxo.png");
    background-repeat: no-repeat;
}

#iconCss3{
    width: 32px;
    height: 32px;
    background-image: url("../icones/css3-roxo.png");
    background-repeat: no-repeat;
}

#iconJavascript{
    width: 32px;
    height: 32px;
    background-image: url("../icones/javascript-roxo.png");
    background-repeat: no-repeat;
}

#iconJquery{
    width: 32px;
    height: 32px;
    background-image: url("../icones/jquery-roxo.png");
    background-repeat: no-repeat;
}

#iconBootstrap{
    width: 32px;
    height: 32px;
    background-image: url("../icones/bootstrap-roxo.png");
    background-repeat: no-repeat;
}

#iconReact{
    width: 32px;
    height: 32px;
    background-image: url("../icones/react-roxo.png");
    background-repeat: no-repeat;
}


#iconVue{
    width: 32px;
    height: 32px;
    background-image: url("../icones/vuejs-roxo.png");
    background-repeat: no-repeat;
}


#iconPostgresql{
    width: 32px;
    height: 32px;
    background-image: url("../icones/postgresql-roxo.png");
    background-repeat: no-repeat;
}

#iconPhp{
    width: 32px;
    height: 32px;
    background-image: url("../icones/php-roxo.png");
    background-repeat: no-repeat;
}

#iconJoomla{
    width: 32px;
    height: 32px;
    background-image: url("../icones/joomla-roxo.png");
    background-repeat: no-repeat;
}

#iconWordpress{
    width: 32px;
    height: 32px;
    background-image: url("../icones/wordpress-roxo.png");
    background-repeat: no-repeat;
}

#iconGit{
    width: 32px;
    height: 32px;
    background-image: url("../icones/git-roxo.png");
    background-repeat: no-repeat;
}

#iconGithub{
    width: 32px;
    height: 32px;
    background-image: url("../icones/github-roxo.png");
    background-repeat: no-repeat;
}