@import url("cores.css");
@import url("fonts.css");

@media (min-width: 577px) {
    .text{
        display: inline;
    }
}

@media (max-width: 576px) {
    .text{
        display: none;
    }
    .icon{
        padding-right: 0px;
    }
}

header{
    background-color: var(--cor_Fundo);
    border-bottom: 5px ridge var(--cor_Texto);
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul{
    display: flex;
    list-style-type: none;
    margin: 0px;
}

li{
    padding: 10px;
}

a{
    padding: 10px;
    text-decoration: none;
    color: var(--cor_Texto);
}

.text{
    font-family: 'Kalam', cursive;
}

.ativado{
    border-radius: 12px;
    border: 5px ridge var(--cor_Texto);
}

a:hover, a:active{
    border-radius: 12px;
    border: 5px ridge var(--cor_Titulo);
    color: var(--cor_Titulo);
}

.icon{
    padding-right: 5px;
}

#imgMenu{
    width: 100px;
    animation-name: colorirImg;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes colorirImg {
    0% {
        filter: drop-shadow(2px 2px 2px var(--cor_Texto));
    }

    100% {
        filter: drop-shadow(2px 2px 2px var(--cor_Titulo));
    }
}