@import url("cores.css");
@import url("fonts.css");

@media (max-width: 767px) {
    #cards {
        margin: 16px;
    }

    #cards img {
        margin: 5px;
    }
}

#cards .card, #cards .modal-content {
    background-color: var(--cor_Titulo);
    color: var(--cor_Fundo);
    border-radius: 12px;
    border: 5px ridge var(--cor_Fundo);
}

#cards .card-header, #cards .modal-header {
    text-align: center;
    border-bottom: 5px ridge var(--cor_Fundo);
}

#cards .card-footer, #cards .modal-footer{
    background-color: var(--cor_Texto);
    color: var(--cor_Fundo);
    border-top: 5px ridge var(--cor_Fundo);
}

#cards .card-footer a{
    color: var(--cor_Fundo);
}

#cards p {
    padding: 10px;
    font-size: 16px;
}

#cards h5{
    font-weight: bold;
}

#cards ul {
    margin-bottom: 16px;
}

#cards li {
    background-color: var(--cor_Texto);
    color: var(--cor_Fundo);
}

#lupa {
    margin: 16px;
    font-size: 50px;
}

#cards #img_width_height {
    width: 20px;
    height: 20px;
    border: 0;
    border-radius: 0;
}

#cards button{
    background-color: var(--cor_Titulo);
    color: var(--cor_Fundo);
    border-radius: 12px;
    border: 2px ridge var(--cor_Fundo);
    font-weight: bold;
}

#cards button:hover{
    background-color: var(--cor_Texto);
}

#cards .card-img-top, #cards li{
    border-bottom: 5px ridge var(--cor_Fundo); 
}

#cards li{
    border-bottom: 1px ridge var(--cor_Fundo); 
}