<!DOCTYPE html>
<html lang="pt-br">
<head>
</head>
<body>
    <header id="menu">     
        <nav>    
            <img id="imgMenu" src="/components/img/img_menu.png" alt="img_menu"/>
            <ul>
                <li>
                    <a class="ativado">
                        <span class="icon"><i class="bi bi-house-heart"></i></span>
                        <span class="text">Home</span>
                    </a>
                </li>
                <li>
                    <a>
                        <span class="icon"><i class="bi bi-person-circle"></i></span>
                        <span class="text">Sobre</span>
                    </a>
                </li>
                <li>
                    <a>
                        <span class="icon"><i class="bi bi-person-gear"></i></span>
                        <span class="text">Habilidades</span>
                    </a>
                </li>
                <li>
                    <a>
                        <span class="icon"><i class="bi bi-person-gear"></i></span>
                        <span class="text">Projetos</span>
                    </a>
                </li>
            </ul>
        </nav> 
    </header>
</body>
</html>